html{ margin-top: -21px;}
body{
	margin: 0px;
}

h1,li,a,p {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: bold;
}
#wrapper{ width: 360px;}

header{
	width: 360px;
	height: 65px;
	background: url('http://oystatic.ignimgs.com/src/ignmediamobile/img/default/mobile_sprite.png') no-repeat 125px -705px black;
}
h1{
	display: none;
}

#listView{
	display: block;
	width: 360px;
}

#listView ul{ 
	padding: 0px;
	margin: 0px;
}

#listView ul li{
	border-bottom: 1px solid grey;
	padding: 10px;
}

#listView ul li a{
	text-decoration: none;
	display: block;
	list-style-type: none;
	padding-right: 151px;
	height: 77px;
	color: red;
}
#listView ul li#shuffle,#listView ul li#loadmore{
	padding: 0px;
}
#listView ul li#shuffle a,#listView ul li#loadmore a{
	height: 30px ;
	padding: 10px 0px 0px 0px;
	background: url('http://oystatic.ignimgs.com/src/ignmediamobile/img/default/heroBG.png');
	vertical-align: middle;
	text-align: center;
}
#dummy{ 
	position: absolute;
	left: -1000px;
}