html{ margin-top: -21px;}
body{
	margin: 0px;
}
#wrapper{ width: 320px;}

header{
	width: 320px;
	height: 65px;
	background: url('http://oystatic.ignimgs.com/src/ignmediamobile/img/default/mobile_sprite.png') no-repeat 105px -705px black;
}
h1{
	display: none;
}
#listView{
	display: block;
	width: 320px;
}

#listView ul{ 
	padding: 0px;
	margin: 0px;
}

#listView ul li{
}
#listView ul li a{
	text-decoration: none;
	display: block;
	list-style-type: none;
	height: 77px;
	color: red;
}

#dummy{ 
	position: absolute;
	left: -1000px;
}